[Desktop Entry]
Name=COSMIC Terminal (Scott Hack)
Comment=Terminal emulator for the COSMIC desktop (Scott's Hack)
Exec=/home/scott/code/cosmic-term/target/release/cosmic-term
Terminal=false
Type=Application
StartupNotify=true
Icon=com.system76.CosmicTerm
Categories=COSMIC;System;TerminalEmulator;
Keywords=Command;Shell;Terminal;CLI;