[Desktop Entry]
Name=Plan42
Comment=Plan42.ai
Exec=/usr/bin/google-chrome --app="https://dev.plan42.ai"
Terminal=false
Type=Application
Icon=/usr/share/icons/hicolor/512x512/apps/42.png
Categories=Network;Chat;