[Desktop Entry]
Name=Slack
Comment=Slack
Exec=/usr/bin/google-chrome --app="https://plan42-ai.slack.com"
Terminal=false
Type=Application
Icon=/usr/share/icons/hicolor/512x512/apps/slack.png
StartupWMClass=chrome-plan42-ai.slack.com__-Default
Categories=Network;Chat;